player-connection-mode=Listen
player-connection-guid=1181618973
player-connection-debug=0
player-connection-project-name=Swave
player-connection-ip=25.68.229.87
player-connection-ip=192.168.80.1
player-connection-ip=192.168.47.1
player-connection-ip=192.168.0.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
